## enable mod_rewrite
RewriteEngine on
## deny access to *.rb, *.rbhtml, and *.cache
RewriteRule \.(rb|rbhtml|cache)$ - [R=404,L]
## rewrite only if requested file is not found
RewriteCond %{SCRIPT_FILENAME} !-f
## handle request to *.html by rbtenjin.cgi
RewriteRule \.html$ rbtenjin.cgi
## handle request to root or other directory by rbtenjin.cgi
RewriteRule ^$ rbtenjin.cgi
RewriteRule /$ rbtenjin.cgi
