## enable mod_rewrite
RewriteEngine on
## deny access to *.rb, *.rbhtml, and *.cache
RewriteRule \.(rb|rbhtml|cache)$ - [R=404,L]
## rewrite only if requested file is not found
RewriteCond %{SCRIPT_FILENAME} !-f
## handle request to *.html by index.cgi
RewriteRule \.html$ index.cgi
## handle request to root or other directory by index.cgi
RewriteRule ^$ index.cgi
RewriteRule /$ index.cgi
