## enable mod_rewrite
RewriteEngine on
## deny access to *.py, *.pyhtml, and *.cache
RewriteRule \.py[a-z0-9]*$ - [R=404,L]
RewriteRule \.cache$       - [R=404,L]
## rewrite only if requested file is not found
RewriteCond %{SCRIPT_FILENAME} !-f
## handle request to *.html or directory by pytenjin.cgi
RewriteRule ^.*$ /~yourname/pytenjin.cgi
## or
#RewriteRule ^.*$ pytenjin.cgi
