include README.txt MIT-LICENSE MANIFEST CHANGES.txt setup.py ez_setup.py
include bin/pytenjin
#include lib/tenjin.py
include lib2/tenjin.py lib3/tenjin.py
include doc/users-guide.html doc/examples.html doc/docstyle.css
include benchmark/bench.py benchmark/bench_context.* benchmark/Makefile benchmark/Kookbook.py
include benchmark/templates/*.* benchmark/bench_pycode.py benchmark/bench_pycode/*.py
recursive-include benchmark/gae *.py *.yaml *.html *.pyhtml
include test/*.py test/*.yaml
exclude test/test_pytenjin_cgi.py
include Kookbook.py doc/Kookbook.py test/Kookbook.py
#recursive-include test/data *.py *.yaml *.pyhtml *.result *.cgi *.html *.pycsv
recursive-include test/data *.*
recursive-exclude test/data *.cache *.pyc
#exclude test/Kookbook.py
recursive-include examples *.py *.pyhtml Makefile
#exclude examples/test_examples.py
